target/
.idea/*
.settings/
*.iml
out/*

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.vscode/

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/